# https://www.toptal.com/developers/gitignore/api/react,node

# Dependencies
node_modules/
dist/
build/
.cache/
jspm_packages/
/node_modules
/dist

# Envs 
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
pnpm-debug.log*
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Diagnostic reports (https://nodejs.org/api/report.html)
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# node-waf configuration
.lock-wscript

# IDEs / Editors
.vscode/
.vscode/*
!.vscode/extensions.json
.idea/
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite/React 
dist-ssr

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# yarn v2
.yarn/cache
.yarn/unplugged
.yarn/build-state.yml
.yarn/install-state.gz
.pnp.*

# Serverless Webpack directories
.webpack/

# Optional eslint cache
.eslintcache

# Optional stylelint cache
.stylelintcache

# Output of 'npm pack'
*.tgz